
.square-input {
    width: 40px;
    height: 40px;
    font-size: 24px; 
    text-align: center;
    border: 1px solid #ccc;

    margin-right: 15px;
    margin-bottom: 15px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: #242424;
    color: white;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    margin-bottom: .75em;
  }

  input.square-input {
    caret-color: transparent;
  }

  .unscramble-word {
    margin-top: 3em;
    font-size: 1.5em;
  }

  .scrambled-word {
    font-size: 1.38em;
    text-transform: uppercase;
  }

 