h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 1.5em 0 2em 0 ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.left-header, .right-header {
  font-size: 1.3em;
  font-weight: bold;
  width: 250px;
  margin: 0 .8em;
}

.title-header {
  margin: 0 2em 0 2em;
  text-align: center;
  flex: 1;
}

.left-header {
  text-align: left;
}

.right-header {
  text-align: right;
}
